@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,742;1,742&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,742;1,742&family=Pragati+Narrow:wght@400;700&family=Righteous&family=Yeseva+One&display=swap');
body{
    margin: 0;
}
.head{
    display: flex;
    background: #140301;
    color:rgb(255, 255, 255);
    
    justify-content: space-between;
    /* padding-left: 80px; */
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* padding: 1%; */
    
}

li {
    list-style-type: none;
  }
  
.Berserk{
    /* border: 1px solid lightgray; */
    font-size: 30px;
    font-family: "Yeseva One", sans-serif;
}

.toplinks{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px;
    

}
.links{
    /* border: 1px solid lightgray; */
    font-family: "Pragati Narrow", serif;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 132px;
    padding-bottom: 132px;
    margin-left: 292px;
    margin-right: 237px;
    gap: 6vw;
    /* border: 1px solid lightgray; */
    
}

.oleft{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* border: 1px solid lightgray; */
    flex: 1;
    /* height: 2vw; */

}

.aweb{
    /* font-size: 400%; */
    font-family: "Yeseva One", sans-serif;
    text-wrap: nowrap;
    color: #fff7b0;
    font-size: 3vw;
    /* flex: 1 .5 0; */

}
.opic{
    /* border: 1px solid lightgray; */
    flex: 1; 
    
    /* align-items: center; 
    justify-content: center;  */
    
}
.opic img{
    max-width: 100%;
    min-width: 100px;
    border-radius: 30px;
    border:3px solid #fff7b0;
    height: auto;


}

.bgimage{
    background-image: url(./Images/eclipse.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
}
.signup{
    font-size: .8vw;
    flex: 1 1 auto;
    max-width: min-content;
    padding: .2vw .9vw;
    font-family: "Pragati Narrow", serif;
    color: #492900;
    background-color: #DAD0D0;
    text-wrap: nowrap;
}

button{
    border-radius: 10px;
}
.obody{
    font-size: 0.9vw;
    margin-bottom: 3%;
    color: white;
    
}

.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    background-color: #f0eac8;
    padding-bottom: 60px;
}

.ttitle{
    justify-content: center;
    align-items: center;
    font-family: "Yeseva One", sans-serif;
    text-wrap: nowrap;
    color: #2b2319;
    font-size: 3vw;
}

.CARDS{
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 2vw;
    width: 100%;
    padding-top: 60px;
    
}

.car {
    border-radius: 8px;
    /* padding: 20px; */
    flex: 1;
    text-align: center;
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    
}


.tphoto{
     width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    
    margin-bottom: 0.5vw; /* Reduce margin between image and text */
    /* flex: 1;
    overflow: hidden; */

}

.car img {
    width: 100%;   
    height: auto;  
    max-width: 230px; 
    object-fit: cover; 
    border-radius: 23px; 
    aspect-ratio: 3/4;
    border:5px solid #492900;
}

.tdesc{
    font-size: 0.9vw;
    margin-top: 20px; /* Remove top margin for the description */
    margin-bottom: 3%;
    align-items: flex-start;
    color: #140301;
}

.quote{
    display: flex;
}
